<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.payara.tools.micro.launchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
<stringAttribute key="process_factory_id" value="org.eclipse.payara.tools.micro.processFactory"/>
</launchConfiguration>
